@tailwind base;
@tailwind components;
@tailwind utilities;

.list__one::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
